@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

h1 {
  font-size: 1.3em;
  text-align: center;
}

input[type=text] {
  font-size: 1.3em;
  border: 2px solid #EAA756;
  border-radius: 4px;
  padding: 16px 32px;
}

body {
  background-color: #F5F5EA;
  font-family: "Pangolin", monospace;
}

.container {
  display: flex;
  flex-direction: column;
}

.variant {
  flex-grow: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
  min-width: 100vh;
}

.correctAnswer {
  color: #fef6e4;
  background: #67D79B;
  padding: 1rem;
}

.correctAnswer:after {
  background: #67D79B;
  color: #001858;
  visibility: visible;
  position: relative;
  width: 100%;
  height: 100%;
  content: "correct!";
}

.incorrectAnswer {
  background: #DA6267;
  color: #fef6e4;
  padding: 1rem;
}

.incorrectAnswer:after {
  background: #DA6267;
  color: #001858;
  visibility: visible;
  position: relative;
  width: 100%;
  height: 100%;
  content: "incorrect!";
}

img {
  height: 50vh;
  object-fit: cover;
  vertical-align: bottom;
}